<div class="container">
    <div class="row mt-3 justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="https://blog.hubspot.com/hubfs/Google%20Drive%20Integration/How%20to%20Start%20Coding%20The%20Ultimate%20Guide%20for%20Beginner%20Programmers.jpeg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Teaching Code</h5>
                    <p class="card-text">Continuous learning has been a core value of ECS since the beginning. We believe in giving our consultants the time they need to upskill on current and emerging technologies ...</p>
                    <a href="/blogs/teaching-code" class="btn btn-primary">View Blog</a>
                </div>
            </div>
            <div class="card">
                <img src="https://thetrainingassociates.com/wp-content/uploads/2018/06/The-Advantages-of-Conferences.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">IDC Event</h5>
                    <p class="card-text">At this years International DevOps Conference. The overarching question: How do you optimise DevOps for innovation at scale?</p>
                    <a href="/blogs/idc-event" class="btn btn-primary">View Blog</a>
                </div>
            </div>
            <div class="card">
                <img src="https://3254rj27anay1j1g90r3iti1-wpengine.netdna-ssl.com/wp-content/uploads/2012/03/Project-Management-What-are-Milestones-1065x640.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Milestones</h5>
                    <p class="card-text">The most successful career switchers take years to learn new skills, network and prepare financially. It also takes guts.</p>
                    <a href="/blogs/milestones" class="btn btn-primary">View Blog</a>
                </div>
            </div>
        </div>
    </div>
</div>