<div class="Welcome page">

    {{!-- <div id="slides" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://wallpaper-house.com/data/out/8/wallpaper2you_252154.jpg">
            </div>
        </div>
    </div> --}}

    <h1 class="welcome">Welcome to the <u class="blogname">techBlog</u>!</h1>
    <p class="welcome_message">An all new technical blogging site for ECS</p>
    <div class="text-center">
        <a href="https://ecs.co.uk/" target="_blank">
            <button class="ecs_website btn-primary">ECS Main Website</button>
        </a>
    </div>
    

</div>